body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Common Layout */
#root {
  height: 100%;
}

a {
  text-decoration: none;
}

/* Ratings */
.card-text span {
  color: #f0c040;
  margin: 0.1rem;
}
.card-text span:last-child {
  color: #404040;
}

/* shopping cart */
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.3rem 0.9rem;
  font-size: 2rem;
}

